.filters {
    width: 100%;
    margin-bottom: 40px;
}

.filters-text {
    font-family: Neue Montreal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    color: var(--black_30);
}

.filters-list {
    width: 100%;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}

@media only screen and (min-width: 768px) {
    .filters-list {
        flex-direction: row;
        gap: 8px;
    
    }
}

.filters-li {
    display: flex;
    width: 100%;
    height: 48px;

    padding: 14px 20px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    line-height: 1.28;

    border-radius: 30px;
    border: 1px solid var(--black_30);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters-li:first-child:hover,
.filters-li:first-child:focus {
    border-color: var(--olive);
}

@media only screen and (min-width: 768px) {
    .filters-li {
        height: 52px;
        margin-left: 0;
    }
    .filters-li:first-child {
        width: 269px;
    }
    .filters-li:last-child {
        width: 189px;
    }
}

.filters-input {
    width: 100%;
    border: none;
    padding: 0;
    outline-style: none;
    background-color: transparent;

    color: var(--black);
    font-family: Neue Montreal;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
}

.filters-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.filters-icon {
    fill: var(--black);
}

.filters-select {
    width: 100%;
    border: none;
    outline-style: none;
    background-color: transparent;
}

/*=============== Style-dropdown_button=================== */


.dropdown {
    position: relative;
}

.dropdown_button {
    border: none;
    outline-style: none;
    background-color: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 335px;
    padding: 14px 20px;
    border-radius: 15px;
    background: #fff;
    position: relative;
    text-align: left;
}

.dropdown_button:focus,
.dropdown_button-active {
    outline: none;
    border: 1px solid #6d8434;
}

.dropdown_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-radius: 15px;
    background: #fff;
    width: 335px;
    box-shadow: 0px 4px 11.212px 0px rgba(0, 0, 0, 0.04),
        0px 20px 69px 0px rgba(0, 0, 0, 0.07);
    position: absolute;
    left: 0;
    top: 48px;
    z-index: 1;

    padding-top: 14px;
    padding-bottom: 14px;
    display: none;
}

.dropdown_list-visible {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dropdown_list-item {
    cursor: pointer;
    padding-left: 20px;
}

.dropdown_list-item:hover {
    background: #6d8434;
}

.dropdown_input-hidden {
    /* display: none; */
}

