.header-container {
  display: flex;
  padding-top: 18px;
  padding-bottom: 72px;
  align-items: center;
  justify-content: space-around;
}
@media only screen and (min-width: 768px) {
  .header-container {
    padding-top: 24px;
    padding-bottom: 116px;
  }
}
@media only screen and (min-width: 1440px) {
  .header-container {
    padding-bottom: 77px;
  }
}
.header-logo-link-home-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo-icon {
  fill: var(--gainsboro);
}
@media only screen and (min-width: 768px) {
  .header-logo-icon {
    width: 20px;
    height: 20px;
  }
}
.header-text {
  font-family: 'FSP DEMO - Quincy CF Black';
  color: var(--black);
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.02em;
  margin-right: 60px;
}
@media only screen and (min-width: 768px) {
  .header-text {
    font-size: 24px;
    line-height: 1;
    margin-right: 262px;
  }
}
@media only screen and (min-width: 1440px) {
  .header-text {
    margin-right: 792px;
  }
}
.logo-container {
  color: var(--gainsboro);
  background-color: var(--olive);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
@media only screen and (min-width: 768px) {
  .logo-container {
    width: 32px;
    height: 32px;
  }
}
.header-logo-link-home-page {
  text-decoration: none;
}
.header-link-home-page {
  color: var(--gainsboro);
  background-color: var(--olive);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 77px;
  height: 38px;
  margin-right: 6px;
  border-radius: 30px;
}
@media only screen and (min-width: 768px) {
  .header-link-home-page {
    font-size: 18px;
    line-height: 1.33;
    width: 104px;
    height: 48px;
    margin-right: 16px;
  }
}

.header-container-cart-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--olive);
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-decoration: none;
}
@media only screen and (min-width: 768px) {
  .header-container-cart-page {
    width: 38px;
    height: 38px;
    margin-right: 14px;
  }
}
.header-cart-icon {
  fill: var(--gainsboro);
}
@media only screen and (min-width: 768px) {
  .header-cart-icon {
    width: 18px;
    height: 18px;
  }
}
.header-nav {
  display: flex;
  align-items: center;
}
.cart {
  color: var(--black);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
}
@media only screen and (max-width: 767px) {
  .cart {
    display: none;
  }
}
.cart-container {
  display: flex;
  align-items: center;
}

.header-link-cart-page {
  text-decoration: none;
}
