@import '~node_modules/modern-normalize/modern-normalize.css';
@import '~node_modules/reset-css/reset.css';
@import url(https://db.onlinewebfonts.com/c/1d07155f6a27d1f397916ad9d4e4d78d?family=FSP+DEMO+-+Quincy+CF+Black);

body {
  font-family: 'Neue Montreal', sans-serif;
  font-style: normal;
  background-color: var(--gainsboro);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}