<section class="cart-section">
  <div class="container js-container">
    <div class="title-container">
      <div class="icon-container">
        <svg class="title-cart-icon" width="18" height="18">
          <use href="./img/icons.svg#icon-shopping-cart" class="icon"></use>
        </svg>
      </div>
      <h2 class="cart-title js-cart-title">
        Cart (<span class="js-quantity-span">0</span>)
      </h2>
    </div>

    <div class="info-container">
      <div class="items-container">
        <button class="delete-all-btn js-delete-all-btn" type="button">
          Delete all
          <svg class="product-icon-cart" width="14" height="14">
            <use href="./img/icons.svg#icon-close" class="icon"></use>
          </svg>
        </button>
        <ul class="items-list js-items-list"></ul>
      </div>
      <!---------------------- Your order---------------------->
      <div class="cart-order-container">
        <h2 class="cart-order-title">Your Order</h2>

        <div class="total-price-container">
          <p class="total-price-description">Total</p>
          <p class="total-price-description">
            <span class="total-price-span">Sum:</span
            ><span class="js-total-price">$0</span>
          </p>
        </div>
        <!-- -----------------------Checkout------------------------------->
        <form class="checkout-form js-form-checkout">
          <label class="checkout-label">
            <input
              class="checkout-input js-checkout-input"
              type="email"
              name="email"
              minlength="6"
              placeholder="Enter your email"
              title="Example: johnsmith125@gmail.com"
              pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
              required
            />
          </label>
          <button class="checkout-btn js-checkout-btn" type="submit">
            Checkout
          </button>
        </form>
      </div>
    </div>
  </div>

  <!------------------------Empty cart-------------------  -->
  <div class="empty-cart js-empty-cart is-hidden">
    <picture>
      <!-- Tablet, Desktop -->
      <!-- .webp -->
      <source
        media="(min-width:768px)"
        srcset="
          ./img/cart/desktop/yellow_shopping_basket_desc@1x.webp 1x,
          ./img/cart/desktop/yellow_shopping_basket_desc@2x.webp 2x
        "
        type="image/webp"
        width="164"
        height="140"
      />
      <!-- .png -->
      <source
        media="(min-width:768px)"
        srcset="
          ./img/cart/desktop/yellow_shopping_basket_desc@1x.png 1x,
          ./img/cart/desktop/yellow_shopping_basket_desc@2x.png 2x
        "
        type="image/png"
        width="164"
        height="140"
      />
      <!-- Mobile -->
      <!-- .webp -->
      <source
        media="(max-width:767.98px)"
        srcset="
          ./img/cart/mobile/yellow_shopping_basket_mob@1x.webp 1x,
          ./img/cart/mobile/yellow_shopping_basket_mob@2x.webp 2x
        "
        type="image/webp"
        width="132"
        height="114"
      />
      <!-- .png -->
      <source
        media="(max-width:767.98px)"
        srcset="
          ./img/cart/mobile/yellow_shopping_basket_mob@1x.png 1x,
          ./img/cart/mobile/yellow_shopping_basket_mob@1x.png 2x
        "
        type="image/png"
        width="132"
        height="114"
      />
      <img
        class="empty-cart-img"
        src="./img/cart/desktop/yellow_shopping_basket_desc@1x.png"
        alt="yellow shopping basket"
        width="164"
        height="140"
      />
    </picture>
    <p class="empty-cart-text1">
      Your bascket is <span class="empty-cart-text1-span">empty...</span>
    </p>
    <p class="empty-cart-text2">
      Go to the main page to select your favorite products and add them to the
      cart.
    </p>
  </div>
  <!-- ----------------------Modal Success-------------------------- -->
  <div class="container">
    <div class="modal-backdrop">
      <div class="modal-thanks-card-container modal-container js-modal-thanks">
        <button class="modal-close-btn">
          <svg class="modal-close-btn-img" width="13" height="13">
            <use href="./img/icons.svg#icon-close"></use>
          </svg>
        </button>
        <img
          class="modal-success-card-img"
          srcset="
            ./img/modal/modal-success-card-img.png    1x,
            ./img/modal/modal-success-card-img@2x.png 2x
          "
          src="./img/modal/modal-success-card-img@2x.png"
          alt="fruit"
          width="140"
          height="140"
        />
        <svg class="modal-success-icon" width="185" height="68">
          <use href="./img/icons.svg#icon-success-icon"></use>
        </svg>
        <h2 class="modal-success-card-title modal-card-title">Order success</h2>
        <p class="modal-success-card-descr modal-card-descr">
          Thank you for shopping at Food Boutique. Your order has been received
          and is now being freshly prepared just for you! Get ready to indulge
          in nourishing goodness, delivered right to your doorstep. We're
          thrilled to be part of your journey to better health and happiness.
        </p>
      </div>
    </div>
  </div>
  <!-- ------------------------------------------------------------ -->
  <!-- -----------------------------Modal Error-------------------- -->
  <!-- <div>
    <button class="modal-close-btn">
      <svg class="modal-close-btn-img" width="13" height="13">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-success-card-title modal-card-title">Server Issue</h2>
    <p class="modal-success-card-descr modal-card-descr">
      We're sorry, but it seems there's an issue with our server. Please try
      again later.
    </p>
  </div> -->
  <!-- ------------------------------------------------------------ -->
  <!-- -----------------------------Spinner------------------------ -->
  <div class="backdrop js-backdrop is-hidden"></div>
</section>
