<footer class="footer">
  <div class="container footer-container">
    <div class="footer-container-logo">
      <a class="footer-logo" href="./index.html">
        <div class="container-logo">
          <svg class="footer-logo-icon" width="16" height="16">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </div>
        <div class="footer-logo-text">Food&nbsp;Boutique</div>
      </a>
    </div>
    <div class="footer-container-icons">
      <ul class="footer-icons-list">
        <li class="footer-icons-item">
          <a
            class="footer-icons-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook"
          >
            <svg class="footer-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-icons-item">
          <a
            class="footer-icons-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Instagram"
          >
            <svg class="footer-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-icons-item">
          <a
            class="footer-icons-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Youtube"
          >
            <svg class="footer-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <h2 class="footer-title">Discover the Variety of Flavors and Quality</h2>
    <p class="footer-text footer-title-text">
      An online store where you will find fresh, natural and delicious products
      for a healthy life and unforgettable gastronomic adventures.
    </p>
    <div class="sudscribe-container">
      <p class="footer-text footer-subscribe-text">
        Subscribe and learn about new products!
      </p>
      <form class="footer-form" name="subscribe-form">
        <label class="footer-lebel">
          <input
            class="footer-input js-footer-input"
            type="email"
            name="email"
            placeholder="Email"
        /></label>
        <button class="subscribe-btn js-footer-btn" type="submit">Send</button>
      </form>
    </div>
    <div class="footer-copyright">
      <p class="footer-text text-copyright">
        Food Boutique. All rights reserved.
      </p>
      <div class="footer-container-copyright">
        <p class="footer-text">Privacy Policy</p>
        <p class="footer-text">/</p>
        <p class="footer-text">Terms of Service</p>
      </div>
    </div>
  </div>
</footer>
