<header>
  <div class="header-container container">
    <a href="./index.html" class="header-logo-link-home-page">
      <div class="logo-container">
        <svg class="header-logo-icon" width="16" height="16">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
      </div>
      <div class="header-text">Food&nbsp;Boutique</div>
    </a>
    <nav class="header-nav">
      <a href="./index.html" class="header-link-home-page">Home</a>
      <a href="./cart.html" class="header-link-cart-page">
        <svg class="header-cart-icon" width="14" height="14">
          <use href="./img/icons.svg#icon-shopping-cart"></use>
        </svg>
      </a>
    </nav>
    <p class="cart">
      CART &nbsp;&#10090;<span class="span-cart-quantity">0</span>&#10091;
    </p>
  </div>
</header>
