<div class="container hero-container">
  <div class="hero-title-container">
    <h1 class="hero-title">
      Welcome to the <span class="hero-title-span">Food</span> Boutique!
    </h1>
    <p class="hero-desc">
      With Food Boutique, you're not just subscribing to food, you're signing up
      for a fresher, fitter, and happier you.
    </p>
  </div>
  <div class="hero-img-container">
    <picture>
      <!-- Desktop -->
      <!-- .webp -->
      <source
        media="(min-width:1440px)"
        srcset="
          ./img/hero/desktop/woman-with-a-box-of-vegetables_desk@1x.webp 1x,
          ./img/hero/desktop/woman-with-a-box-of-vegetables_desk@2x.webp 2x
        "
        type="image/webp"
        width="1240"
        height="350"
      />
      <!-- .jpg -->
      <source
        media="(min-width:1440px)"
        srcset="
          ./img/hero/desktop/woman-with-a-box-of-vegetables_desk@1x.jpg 1x,
          ./img/hero/desktop/woman-with-a-box-of-vegetables_desk@2x.jpg 2x
        "
        type="image/jpg"
        width="1240"
        height="350"
      />
      <!-- Tablet -->
      <!-- .webp -->
      <source
        media="(min-width:768px)"
        srcset="
          ./img/hero/tablet/woman-with-a-box-of-vegetables_tab@1x.webp 1x,
          ./img/hero/tablet/woman-with-a-box-of-vegetables_tab@2x.webp 2x
        "
        type="image/webp"
        width="704"
        height="580"
      />
      <!-- .jpg -->
      <source
        media="(min-width:768px)"
        srcset="
          ./img/hero/tablet/woman-with-a-box-of-vegetables_tab@1x.jpg 1x,
          ./img/hero/tablet/woman-with-a-box-of-vegetables_tab@2x.jpg 2x
        "
        type="image/jpg"
        width="704"
        height="580"
      />
      <!-- Mobile -->
      <!-- .webp -->
      <source
        media="(max-width:767.98px)"
        srcset="
          ./img/hero/mobile/woman-with-a-box-of-vegetables_mob@1x.webp 1x,
          ./img/hero/mobile/woman-with-a-box-of-vegetables_mob@2x.webp 2x
        "
        type="image/webp"
        width="335"
        height="480"
      />
      <!-- .jpg -->
      <source
        media="(max-width:767.98px)"
        srcset="
          ./img/hero/mobile/woman-with-a-box-of-vegetables_mob@1x.jpg 1x,
          ./img/hero/mobile/woman-with-a-box-of-vegetables_mob@2x.jpg 2x
        "
        type="image/jpg"
        width="335"
        height="480"
      />
      <img
        class="hero-main-img"
        src="./img/hero/desktop/woman-with-a-box-of-vegetables_desk@1x.jpg"
        alt="Woman with a box of vegetables"
        width="1240"
        height="350"
      />
    </picture>
    <picture>
      <!-- .webp -->
      <source
        srcset="
          ./img/hero/organic-food@1x.webp 1x,
          ./img/hero/organic-food@2x.webp 2x
        "
        type="image/webp"
      />
      <!-- .png -->
      <source
        srcset="
          ./img/hero/organic-food@1x.png 1x,
          ./img/hero/organic-food@2x.png 2x
        "
        type="image/png"
      />
      <img
        class="hero-img-quality"
        src="./img/hero/organic-food@1x.png"
        alt="Organic food"
        width="100"
        height="100"
      />
    </picture>
  </div>
</div>
