<div class="container">
  <div class="modal-backdrop">
    <div class="modal-product-card-container modal-container js-modal-product">
      <button class="modal-close-btn">
        <svg class="modal-close-btn-img" width="13" height="13">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <div class="modal-product-card-content-wrapper">
        <div class="modal-product-card-img-container">
          <img
            class="modal-product-card-img"
            src="/src/img/modal/modal-product-card-img.png"
            alt=""
          />
        </div>
        <div class="modal-product-card-description wrapper">
          <h2 class="modal-product-card-title modal-card-title">Pumpkin</h2>
          <div class="modal-product-card-text-wrapper">
            <p class="modal-product-card-category">Category:</p>
            <p class="modal-product-card-category-descr">Fresh Produce</p>
            <p class="modal-product-card-category">Size:</p>
            <p class="modal-product-card-category-descr">1 medium-sized</p>
            <p class="modal-product-card-category">Popularity:</p>
            <p class="modal-product-card-category-descr">0</p>
          </div>
          <p class="modal-product-card-descr modal-card-descr">
            A round, orange vegetable with a thick shell and seeds inside. It is
            often used in cooking and baking for its sweet and earthy flavor.
          </p>
        </div>
      </div>

      <div class="modal-product-card-purchase-wrapper">
        <p class="modal-product-card-purchase-price">$2.99</p>
        <button class="modal-product-card-purchase-btn">
          Add to<svg
            class="modal-product-card-purchase-btn-img"
            width="18"
            height="18"
          >
            <use href="./img/icons.svg#icon-shopping-cart"></use>
          </svg>
        </button>
      </div>
    </div>

    <!-- /* -----------Modal Thanks -------*/ -->
    <div class="modal-thanks-card-container modal-container js-modal-thanks">
      <button class="modal-close-btn">
        <svg class="modal-close-btn-img" width="13" height="13">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <div class="modal-thanks-card-text-wrapper">
        <h2 class="modal-thanks-card-title modal-card-title">
          Thanks for subscribing for
          <span class="modal-card-span">new</span> products
        </h2>
        <p class="modal-thanks-card-descr modal-card-descr">
          We promise you organic and high-quality products that will meet your
          expectations. Please stay with us and we promise you many pleasant
          surprises.
        </p>
      </div>
      <img
        class="modal-thanks-card-img"
        srcset="
          ./img/modal/modal-thanks-card-img.png     1x,
          ./img/modal/modal-thanks-card-img-@2x.png 2x
        "
        src="./img/modal/modal-thanks-card-img.png"
        alt="fruit busket"
        width="335"
        height="144"
      />
    </div>
    <!-- /* -----------/Modal Thanks -------*/ -->

    <!-- /* -----------Modal Email Sub -------*/ -->
    <div class="modal-sub-card-container modal-container js-modal-sub">
      <button class="modal-close-btn">
        <svg class="modal-close-btn-img" width="13" height="13">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="modal-sub-card-title modal-card-title">
        This
        <span class="modal-card-span">email address</span> has already been
        entered
      </h2>
      <p class="modal-sub-card-descr modal-card-descr">
        You have already subscribed to our new products. Watch for offers at the
        mailing address.
      </p>
    </div>
    <!-- /* -----------/Modal Email Sub -------*/ -->

    <!-- /* -----------Modal Success -------*/ -->
    <div class="modal-success-card-container modal-container js-modal-success">
      <button class="modal-close-btn">
        <svg class="modal-close-btn-img" width="13" height="13">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <img
        class="modal-success-card-img"
        srcset="
          ./img/modal/modal-success-card-img.png    1x,
          ./img/modal/modal-success-card-img@2x.png 2x
        "
        src="./img/modal/modal-success-card-img.png"
        alt="fruit"
        width="140"
        height="140"
      />
      <svg class="modal-success-icon" width="185" height="68">
        <use href="./img/icons.svg#icon-success-icon"></use>
      </svg>
      <h2 class="modal-success-card-title modal-card-title">Order success</h2>
      <p class="modal-success-card-descr modal-card-descr">
        Thank you for shopping at Food Boutique. Your order has been received
        and is now being freshly prepared just for you! Get ready to indulge in
        nourishing goodness, delivered right to your doorstep. We're thrilled to
        be part of your journey to better health and happiness.
      </p>
    </div>
    <!-- /* -----------/Modal Success -------*/ -->
  </div>
</div>
