<div class="product-container">
  <div class="product-message-container is-hidden js-product-message-container">
    <p class="product-message-title">
      Nothing was found for the selected
      <span class="product-message-title-accent">filters...</span>
    </p>
    <p class="product-message-texp">
      Try adjusting your search parameters or browse our range by other criteria
      to find the perfect product for you.
    </p>
  </div>
  <ul class="product-list js-product-list"></ul>
  <div class="pagi-container js-pagi-container">
    <ul class="pagi-btn-list">
      <li>
        <button class="pagi-item" data-button-left="dubleArrow">
          <svg class="icon-pagination left" width="8" height="8">
            <use href="./img/icons.svg#icon-warrow-left"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="pagi-item" data-button-left="arrow">
          <svg class="icon-pagination left" width="4" height="8">
            <use href="./img/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
      </li>
    </ul>
    <ul class="pagi-pages js-pagi-pages"></ul>
    <ul class="pagi-btn-list">
      <li>
        <button class="pagi-item" data-button-right="arrow">
          <svg class="icon-pagination right" width="4" height="8">
            <use href="./img/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="pagi-item" data-button-right="dubleArrow">
          <svg class="icon-pagination right" width="8" height="8">
            <use href="./img/icons.svg#icon-warrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</div>
