<div class="product-container">
  <ul class="product-list">
    <li class="product-card">
      <div class="product-img-wrapper">
        <img src="./img/avocado.png" alt="product" width="140" />
      </div>

      <h3 class="product-name">Lorem, ipsum.</h3>

      <p class="product-description">
        <span>
          Category:
          <span class="product-description-accent">Fresh Produce</span>
        </span>
        <span>
          Size:
          <span class="product-description-accent">Each</span>
        </span>
        <span>
          Popularity:
          <span class="product-description-accent">0</span>
        </span>
      </p>

      <div class="product-bye">
        <p class="product-prise">$1.99</p>
        <button class="product-button-cart">
          <svg class="product-icon-cart" width="18" height="18">
            <use href="./img/icons.svg#icon-shopping-cart" class="icon"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="product-card">
      <div class="product-img-wrapper">
        <img src="./img/avocado.png" alt="product" width="140" />
      </div>

      <h3 class="product-name">Lorem, ipsum.</h3>

      <p class="product-description">
        <span>
          Category:
          <span class="product-description-accent">Fresh Produce</span>
        </span>
        <span>
          Size:
          <span class="product-description-accent">Each</span>
        </span>
        <span>
          Popularity:
          <span class="product-description-accent">0</span>
        </span>
      </p>

      <div class="product-bye">
        <p class="product-prise">$1.99</p>
        <button class="product-button-cart">
          <svg class="product-icon-cart" width="18" height="18">
            <use href="./img/icons.svg#icon-check" class="icon"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="product-card">
      <div class="product-img-wrapper">
        <img src="./img/avocado.png" alt="product" width="140" />
      </div>

      <h3 class="product-name">Lorem, ipsum.</h3>

      <p class="product-description">
        <span>
          Category:
          <span class="product-description-accent">Fresh Produce</span>
        </span>
        <span>
          Size:
          <span class="product-description-accent">Each</span>
        </span>
        <span>
          Popularity:
          <span class="product-description-accent">0</span>
        </span>
      </p>

      <div class="product-bye">
        <p class="product-prise">$1.99</p>
        <button class="product-button-cart">
          <svg class="product-icon-cart" width="18" height="18">
            <use href="./img/icons.svg#icon-check" class="icon"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="product-card">
      <div class="product-img-wrapper">
        <img src="./img/avocado.png" alt="product" width="140" />
        <svg class="product-discount-card" width="60" height="60">
          <use href="./img/icons.svg#icon-discount"></use>
        </svg>
      </div>

      <h3 class="product-name">Lorem, ipsum.</h3>

      <p class="product-description">
        <span>
          Category:
          <span class="product-description-accent">Fresh Produce</span>
        </span>
        <span>
          Size:
          <span class="product-description-accent">Each</span>
        </span>
        <span>
          Popularity:
          <span class="product-description-accent">0</span>
        </span>
      </p>

      <div class="product-bye">
        <p class="product-prise">$1.99</p>
        <button class="product-button-cart">
          <svg class="product-icon-cart" width="18" height="18">
            <use href="./img/icons.svg#icon-check" class="icon"></use>
          </svg>
        </button>
      </div>
    </li>
  </ul>
</div>
